# Server Configuration
PORT=3001
NODE_ENV=development

BASE_URL=http://localhost:3001 // for email header images

# Resend Configuration (Email)
RESEND_API_KEY=re_your_api_key_here
FROM_EMAIL=notifications@yourdomain.com

# Twilio Configuration (SMS)
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+1234567890


# Queue Configuration
MAX_RETRY_ATTEMPTS=3
QUEUE_PROCESS_INTERVAL=1000
PRIORITY_QUEUE_PROCESS_INTERVAL=500

# Rate Limiting (for metered notifications)
EMAIL_RATE_LIMIT_PER_MINUTE=60
SMS_RATE_LIMIT_PER_MINUTE=30
